{% extends 'base.html' %}


{% block 'title' %}Extrair entidades{% endblock 'title' %}

{% block 'head' %}{% endblock 'head' %}

{% block 'body' %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col mb-3">
                    <legend>Insira o texto:</legend>
                    <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <textarea class="form-control" name="text"  cols="30" rows="10"></textarea>
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Extrair entidades</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<br>
{% if cpfs_found or cnpjs_found or cepfs_found %}

<div class="container" style="height: 250px; position: relative; overflow-y: scroll;">
    <div class="row">
        <div class="col">
            <div class="col mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">CPF</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for cpf in cpfs_found %}
                            <tr>
                                <td>{{ cpf }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="col mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">CNPJ</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for cnpj in cnpjs_found %}
                            <tr>
                                <td>{{ cnpj }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="col mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">CEP</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for cep in ceps_found %}
                            <tr>
                                <td>{{ cep }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="col">
            <div class="col mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">VEÍCULOS</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for plate in plates_found %}
                            <tr>
                                <td>{{ plate }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="col mb-3">
                
                <a class="btn btn-primary" href="{{ excel_file_url }}">Exportar para excel</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock 'body' %}